:root {
  --bs-primary: #FFAADD;
}

body {
  font-family: 'Oswald';
  font-size: 22px;
  text-align: center;
  background-color: black;
  color: #FFAADD;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
}

a {
  color: #FFAADD;
  background-color: #FFAADD;
}